html {
    background-color: rgb(4, 38, 44);
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.grid-item {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(160, 156, 156, 0.4);
}

.grid-item:hover {
    transition: ease 0.5s;
    background-color: rgb(1, 211, 1);
}

#gameContainer {
    display: none;
    justify-content: center;
    grid-gap: 3px;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 125px 125px 125px;
}

#settings {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 3px;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
}

.settingsBox {
    text-align: center;
}

h3 {
    color:white;
    font-family: 'Roboto', sans-serif;
}

p {
    color:white;
    font-family: 'Roboto', sans-serif;
}

.switchSetup h4{
    color:white;
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: orange;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(4, 38, 44);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color:  rgb(1, 211, 1);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(1, 211, 1);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#buttonContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: auto;
}